# OS / editors
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova

# Dependencies / builds
/node_modules/
/vendor/
/public/build
/public/hot
/public/storage

# Storage / logs
/storage/*.key
/storage/pail
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log

# PHP / tools
.phpactor.json
.phpunit.result.cache
/.phpunit.cache
/auth.json

# Databases & dumps
*.sql
*.sqlite

# Env files
.env
.env.*
!.env.example
